<div class="certifications">
    <a href="https://www.zend.com/en/yellow-pages/ZEND017381" target="_blank" rel="noopener">
        <img src="{{ '/public/img/certifications/php.png' | absolute_url }}" alt="PHP Certification"/>
    </a>
    <a href="https://u.magento.com/certification/directory/dev/1176776" target="_blank" rel="noopener">
        <img src="{{ '/public/img/certifications/magento.png' | absolute_url }}" alt="Magento Certification"/>
    </a>
    <a href="https://certificates.opquast.com/certificate/Z3LEP9/" target="_blank" rel="noopener">
        <img src="{{ '/public/img/certifications/opquast.png' | absolute_url }}" alt="Opquast Certification"/>
    </a>
    <a href="https://about.blackfire.io/labels/contributor/" target="_blank" rel="noopener">
        <img src="{{ '/public/img/certifications/blackfire.png' | absolute_url }}" alt="Blackfire Certification"/>
    </a>
</div>
