<p class="social-icons">
    <a class="icon" title="GitHub Profile" aria-label="GitHub Profile"
       href="{{ site.author.github_link }}" target="_blank" rel="noopener">
        {% include svg/github.svg %}
    </a>

    <a class="icon" title="Twitter Profile" aria-label="Twitter Profile"
       href="{{ site.author.twitter_link }}" target="_blank" rel="noopener">
        {% include svg/twitter.svg %}
    </a>

    <a class="icon" title="LinkedIn Profile" aria-label="LinkedIn Profile"
       href="{{ site.author.linkedin_link }}" target="_blank" rel="noopener">
        {% include svg/linkedin.svg %}
    </a>

    <a class="icon" title="Feed" aria-label="Feed"
       href="{{ 'feed.xml' | absolute_url }}" target="_blank" rel="noopener">
        {% include svg/feed.svg %}
    </a>
</p>
